cluster.name: {{ elasticsearch_cluster_name }}
node.name: {{ elasticsearch_node_name }}
network.host: {{ elasticsearch_network_host }}
discovery.zen.minimum_master_nodes: {{ elasticsearch_discovery_zen_minimum_master_nodes }}
